@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

@media only screen and (max-width: 450px){
    .listClass {
        min-width: 450px;
        width: 100%;
        display: flex;
    }

}

html {
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 13px;
  line-height: 20px;
}
